@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    color: white;
}


/* share css */

.navbar,.banner ,.section-container{
    max-width: 1060px;
    margin: 0 auto;
}



.display-flex{
    display: flex;
}
.primary-color{
    color: #E6533C;
}
.secondary-color{
    color: rgba(255, 255, 255, 0.65);
}
.primary-bg-color{
    color: #E6533C;
}

.btn-primary{
    background-color: #E6533C;
    border-radius: 46px;
    font-weight: 700;
    padding: 16px 47px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}










/* navbar styling */

.navbar{
    justify-content: space-between;
    padding: 45px 0;
    align-items: center;
}

.menu-items{
    list-style: none;
}
.hamburger{
    display: none;
    
}
.text-logo{
    font-size: 2.25rem;
    font-weight: 700;
    font-style: italic;
}
.menu-container{
    justify-content: center;
    align-items: center;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.menu-links{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    margin-right: 5px;

}
.home{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 5px 8px;
    font-weight: 700;
}

/* banner sstyling */

.banner{
    justify-content: space-between;

    align-items: center;
}

.banner-content{
    width: 47%;
}


.banner-title{
    font-size: 4.875rem;
}

.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0;
}
.banner-img-container {
    width: 35%;
    position: relative;
}

.banner-img-container img{
    width: 100%;
}

.tooltip{
    background-color: #8080805c;
    position: absolute;
    top: 31%;
    left: 57%;
    padding: 17px 15px;
    border-radius: 12px;
}
.tooltip-title{
    font-size: 2.5rem;
}
.tooltip-description{
    font-size: .8rem;
}

.ball{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}
.tooltip2{
    background-color: #80808042;
    position: absolute;
    padding: 20px 23px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    top: 74%;
    left: -31%;

}

/* habits section styling */

.habits-content{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}
.habits-content-title{
    font-size: 3rem;
}
.habits-description{
    font-size: .8rem;
    margin-top: 14px;
}

.habits-card-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.habits-card-container img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid gray;
}
.card{
    width: 231px;
    height: 273px;
    text-align: center;
}
.card-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 8px;
}
.card-description{
    font-size: .8rem;
    
}
/* run section */

.run{
    border-radius: 18px;
    margin-top: 30px;
    background-color: rgba(34, 34, 34, 1);
    padding: 30px 32px;
    justify-content: center;
    align-items: center;
    gap: 134px;
    margin-bottom: 100px;
}
.run-content{
    width: 443px;
}
.run-title{
    font-size: 3rem;
    margin-bottom: 14px;
}
.run-description{
    font-size: .8rem;
    margin-bottom: 34px;
}

.run-img-container img{
 width: 366px;
 height: 312px;
 border-radius: 12px;
}

/* training section strt  */

.training-content{
    max-width: 671px;
}

.training-title{
    font-size: 3rem;
    margin-bottom: 14px;

}
.training-description{
    font-size: .8rem;
    margin-bottom: 58px;
}

.training-img-container{
   margin-bottom: 88px;

    display: grid;
    
    grid-template-columns: repeat(4,1fr);

    grid-template-rows: repeat(2,200px);
}
.training-img-container>div{
    position: relative;
}
.training-img-container>div>p{
    position: absolute;
    z-index: 1;
}
.excercise-1{
    color: black;
    top: 84%;
    left: 8%;
    font-weight: bold;
}

.excercise-2{
    color: white;
    top: 10%;
    left: 10%;
   
}
.excercise-3{
    color: white;
    top: 73%;
    left: 10%;

}
.excercise-4{
    color: white;
    top: 18%;
    left: 61%;
}
.excercise-5{
    color: white;
    top: 70%;
    left: 20%;
}
.excercise-6{
    color: white;
    top: 68%;
    left: 15%;
}


.training-img-container img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.box-1{
    background-color: rgba(6, 255, 210, 0.5);
}
.box-2{
    grid-column: 2/span 2;
    background-color: rgba(255, 0, 0, 0.3);
    

}
.box-3{
    background-color: rgba(204, 204, 204, 1);
}
.box-4{
   grid-column: span 2;
   background-color: rgba(155, 74, 74, 0.5);
}
.box-5{
    background-color: rgba(66, 255, 0, 0.3);
}
.box-6{
    background-color: rgba(0, 71, 255, 0.3);
}
/* team styling */

.teams-content{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
  

}
.team-title{
    font-size: 3rem;
    margin-bottom: 14px;
}
.team-description{
    font-size: .8rem;
    margin-bottom: 58px;

}

.team-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,272px);
    gap: 30px;
  margin-bottom: 88px;
}

.team-card-container img{

    width: 100%;
    height: 100%;
    border-radius: 12px;
   
    

}
.trainer-card{
    position: relative;
}
.trainer-info{
position: absolute;

z-index: 2;
top: 77%;
left: 10%;
}











/* responsive styling */

@media screen and (max-width:425px){
    
 .menu-container{
    display: none;
}

.hamburger{
    display: inline;
}
.banner,.run{
    flex-direction: column;
}

.banner-content , .banner-img-container{
    width: 100%;
}
 .tooltip2{
    left: 20%;
    right: 20%;
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.habits-card-container{
    grid-template-columns: 1fr;
    
}
.card{
    margin: 10px auto;
}
.habits-content{
    margin-top: 30px;

}
.run-content,.run-img-container{
    width: 100%;
    margin: 0 auto;
}
.run-content button{
    display: block;
    width: 100%;
}
.run-img-container{
    margin-top: -45px;
}
.training{
    margin: 0 20px;
}

.training-img-container{
    grid-template-columns: repeat(2,1fr);
    
}
.teams-content{
    margin: 0 20px;
}

.team-card-container{
    grid-template-columns: 1fr;
    margin: 0 20px;
}




}