@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    color: white;
}


/* share css */

.navbar,.banner{
    max-width: 1060px;
    margin: 0 auto;
}


.display-flex{
    display: flex;
}
.primary-color{
    color: #E6533C;
}
.secondary-color{
    color: rgba(255, 255, 255, 0.65);
}
.primary-bg-color{
    color: #E6533C;
}

.btn-primary{
    background-color: #E6533C;
    border-radius: 46px;
    font-weight: 700;
    padding: 16px 47px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}










/* navbar styling */

.navbar{
    justify-content: space-between;
    padding: 45px 0;
    align-items: center;
}

.menu-items{
    list-style: none;
}
.hamburger{
    display: none;
    
}
.text-logo{
    font-size: 2.25rem;
    font-weight: 700;
    font-style: italic;
}
.menu-container{
    justify-content: center;
    align-items: center;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.menu-links{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    margin-right: 5px;

}
.home{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 5px 8px;
    font-weight: 700;
}

/* banner sstyling */

.banner{
    justify-content: space-between;

    align-items: center;
}

.banner-content{
    width: 47%;
}


.banner-title{
    font-size: 4.875rem;
}

.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0;
}
.banner-img-container {
    width: 35%;
    position: relative;
}

.banner-img-container img{
    width: 100%;
}

.tooltip{
    background-color: #8080805c;
    position: absolute;
    top: 31%;
    left: 57%;
    padding: 17px 15px;
    border-radius: 12px;
}
.tooltip-title{
    font-size: 2.5rem;
}
.tooltip-description{
    font-size: .8rem;
}

.ball{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}
.tooltip2{
    background-color: #80808042;
    position: absolute;
    padding: 20px 23px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    top: 74%;
    left: -31%;

}














/* responsive styling */

@media screen and (max-width:425px){
    
 .menu-container{
    display: none;
}

.hamburger{
    display: inline;
}
.banner{
    flex-direction: column;
}
.banner-content , .banner-img-container{
    width: 100%;
}
 .tooltip2{
    left: 20%;
    right: 20%;
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


}